{%extends 'base.html'%}
{%block TITLE%}
{{title}} :: {{block.super}}
{%endblock%}

{%block CONTENT%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5 text-center">Администрирование расписания</h2>

            <form action="{%url 'admin_panel'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary mb-3">Отправить</button>
            </form>
            {%if form.errors%}
            <p>{{from.errors}}</p>
            {%endif%}
        </div>
    </div>
</div>

{%endblock%}